body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 0 0 0;
    text-align: center;
    background-color: #1b2c02;
}

main {
    width: 1200px;
    margin: auto;
}

.obrazek img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#cmd img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#gimp img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.prvni-strana main {
    margin-bottom: 100px;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

thead {
    background-color: #aa0000;
    color: white;
}

.nadpis {
    color: white;
}

@media (max-width: 960px) {
main {
    width: 900px;
    margin: auto;
}
p {
    width: 720px;
}
}

@media (max-width: 600px) {
main {
    width: 550px;
    margin: auto;
}
p {
    width: 450px;
}
}

/* Navigace z w3schools */

.topnav {
overflow: hidden;
background-color: #333333;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #dddddd;
color: black;
}

.topnav a.active {
background-color: #0d6e04;
color: white;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
    color: #ffffff;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}