header {
    padding: 20px;
    text-align: center;
    background-color: rgb(50, 100, 0);
}

main {
    width: 1200px;
    margin: auto;
}


table {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a, p {
    font-family: Arial, Helvetica, sans-serif;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

thead {
    background-color: #a00;
    color: white;
}

.nadpis {
    color: white;
}

/* Navigace z w3schools */

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}